<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#fafad2">
<h1>我的第一个标题</h1>
<p>我的第一个段落</p>
<p>我的第二个段落</p>
<p>我的第三个段落</p>
<p>To break<br/>lines<br/>in a<br/>paragraph,<br/>use the br tag</p>

<h1>This is heading 1</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<p>请把标题标签用于标题文本</p>

<h1 align="center">This is the heading center</h1>
<p>上面的标题进行了居中排列</p>

<!--标准线-->
<p>hr 是定义标准水平线</p>
<hr />
<p>这是段落</p>
<hr />
<p>这是段落</p>
<hr />

<b>This is bold</b>
<br/>
<strong>This is strong</strong>
<br/>
<big>This is big</big>
<br/>
<em>This is emphasized</em>
<br/>
<i>This is italic</i>
<br/>
<small>This is samll</small>
<br/>

<pre>这是
    预格式文本
保留了换行 和空格
</pre>

<code></code>
<br/>
<kbd>kbd is Keyboard input</kbd>
<br/>
<tt>tt is Teletype text</tt>
<br/>
<samp>samp is Sample text</samp>
<br/>
<var>var is Computer variable</var>
<br/>

<b>注释：</b>这些标签通常用于显示计算机/编程代码
<br>
Written by<a href="http://www.baidu.com"> Baidu</a><br/>

<addr title="定义缩写">etc.</addr>
<br/>
<acronym title="定义首字母缩写">WWW</acronym>

</body>
</html>